<%- include('work/header') %>

    <div class="navbar">
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="#">Contact</a>
    </div>
    <div class="welcome-container">
        <div class="welcome-message">
            <h1>Welcome to Our Website!</h1>
            <p>Your journey to amazing content starts here.</p>
        </div>
    </div>

    <%- include('work/footer') %>