<%- include('work/header1') %>

<nav class="navbar">
    <div class="nav-left">
        <a href="/main1" class="active">Dashboard</a>
    </div>
    <div class="nav-right">
        <a href="/" class="logout-btn">Logout</a>
    </div>
</nav>
<h1>Welcome, Admin!</h1>

<%- include('work/footer') %>