/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-image: -webkit-linear-gradient(90deg, cornflowerblue,#e4e9fd 50%, #a683e3);
}

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53%;
    /* background-color:cornflowerblue; */
    /* text-align: center;
}

.welcome-message {
    margin-bottom: 10px;
    margin-top: 220px;
}

h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: px;
}

p {
    font-size: 1.2rem;
    color: #666;
}

a{
    margin-left: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

.button {
    text-decoration: none;
    padding: 15px 30px;
    font-size: 1.1rem;
    background-color: #4CAF50;
    color:black;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}  */


body {
    background-color: cornflowerblue;
  }