<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        * {
            padding: 0;
            box-sizing: border-box;
        }

        body,
        html {
            height: 100%;
            font-family: Arial, sans-serif;
            /* background-image: -webkit-linear-gradient(90deg, #a683e3 30%,#e4e9fd 30%); */
            background-color:  #e4e9fd;
        }

        h1 {
            font-size: 3rem;
            color: #333;
            text-align: center;
        }

        .foot{
            /* display: flex;
            justify-content: center;
            align-items: center; */
            height: 53%;
            text-align: center;
        }

        .top {
            padding: 20px;
            max-width: 400px;
            margin-top: 50px;
            margin-left: 37%;
            background-color: #a683e3;
            /* margin: 0 auto; */
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
        .box {
            width: 100%;
            padding: 8px;
            margin: 10px 0;
            border: 1px solid #e61e1e;
            border-radius: 4px;
        }
        .tap {
            text-align: center;
            background-color: #007bff;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin: 10px 0;
            margin-left: 40%;
            
        }
        .bootam {
            text-align: center;
        }

        .navbar {
            width: 100%;
            background-color: #e4e9fd ;
            overflow: auto;
        }

        .navbar a {
            float: left;
            padding: 12px;
            color: #51377e;
            text-decoration: none;
            font-size: 17px;
            width: 25%;
            /* Four links of equal widths */
            text-align: center;
        }

        .navbar a:hover {
            color: black;
            background-color:#a683e3; 
        }

        @media screen and (max-width: 500px) {
            .navbar a {
                float: none;
                display: block;
                width: 100%;
                text-align: left;
            }
        }
    </style>
</head>

<body>