<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="css/styles.css">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body,
        html {
            height: 100%;
            margin: 0;
            font-family: "Lato", sans-serif;
            background-image: -webkit-linear-gradient(90deg, #a683e3 30%, #e4e9fd 30%);
        }

        .welcome-container {
            text-align: center;
        }

        .welcome-message {
            margin-bottom: px;
            margin-top: 210px;
        } 

        h1 {
            font-size: 3rem;
            color: #333;
            margin-bottom: px;
        }

        p {
            font-size: 1.2rem;
            color: #666;
        }

        .foot {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 53%;
            text-align: center;
        }

        .navbar {
            width: 100%;
            background-color: #e4e9fd ;
            overflow: auto;
        }

        .navbar a {
            float: left;
            padding: 12px;
            color: #51377e;
            text-decoration: none;
            font-size: 17px;
            width: 25%;
            /* Four links of equal widths */
            text-align: center;
        }

        .navbar a:hover {
            color: black;
            background-color:#a683e3; 
        }

        @media screen and (max-width: 500px) {
            .navbar a {
                float: none;
                display: block;
                width: 100%;
                text-align: left;
            }
        }
    </style>
</head>

<body>